DATABASE_URL="file:./prisma/dev.db"
GOOGLE_APPLICATION_CREDENTIALS="./local-transcriber-498907-dc909fc4d9b9.json"
GOOGLE_CLOUD_PROJECT="local-transcriber-498907"
GCP_SPEECH_LOCATION="us-central1"
GCP_SPEECH_MODEL="chirp_2"
GCP_SPEECH_LANGUAGE="es-ES"
GCP_SPEECH_CHUNK_SECONDS="50"
GCP_SPEECH_SYNC_MAX_SECONDS="55"
GCP_SPEECH_CHUNK_DELAY_MS="400"
# Opcional: rutas personalizadas si no usás los binarios de npm
# FFMPEG_PATH="C:/ruta/a/ffmpeg.exe"
# FFPROBE_PATH="C:/ruta/a/ffprobe.exe"
